<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Game: {{gameId}}</title>
    {{! <script src='/socket.io/socket.io.js'></script> }}
    <script src='/socket.io/socket.io.js'></script>
    <script
      src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'
    ></script>
    <script src='/js/game-room.js' defer></script>
  </head>

  <div id='content'></div>

  {{! <script id='loading-template' type='text/x-handlebars-template'>
    <body> <h1>Loading...</h1> </body>
  </script>

  <script id='error-template' type='text/x-handlebars-template'>
    <body> <h1>Error: {errorMessage}</h1> </body>
  </script> }}

  {{! <script id='game-room-template' type='text/x-handlebars-template'>
    
  </script> }}
</html>