<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Game: {{gameId}}</title>
    <script src='/socket.io/socket.io.js'></script>
    <script
      src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'
    ></script>
    <script src='/js/game-room.js' defer></script>
  </head>

  <div id='content'></div>

</html>